* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  /* width: 100%; */
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

#languages {
  /* width: 100%; */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

svg {
  position: relative;
  width: 100%;
  height: 100%;
  /* filter: blur(10px); */
  /* opacity: 0.6; */
}

svg path {
  cursor: pointer;
}

.box {
  position: absolute;
  cursor: pointer;
  border: 0.5px solid rgb(158, 47, 35);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  font-size: 0.85rem;
}

.box:hover {
  animation: tilt-shaking 0.25s infinite;
}

.country-card {
  width: 180px;
  /* height: 264px; */
  padding: 6px;
  background-color: #f5f5f5;
  font-family: 'Inter', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  visibility: hidden;
}

.country-card .country-card-title {
  color: black;
}

.country-card .country-card-title {
  font-size: 22px;
  font-weight: bold;
  padding: 9px 7px 0;
}

.country-card .country-card-region {
  padding: 7px;
  font-size: 13px;
}

.country-card img {
  width: 100%;
  height: 130px;
  background-color: rgb(236, 236, 236);
}

.country-card .country-card-languages {
  color: gray;
  font-size: 11px;
  padding: 11px 0 7px 7px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.country-card img:hover {
  transform: scale(0.98);
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
