* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  /* width: 100%; */
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

#languages {
  /* width: 100%; */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

svg {
  position: relative;
  width: 100%;
  height: 100%;
  /* filter: blur(10px); */
  /* opacity: 0.6; */
}

svg path {
  /* cursor: pointer; */
  fill: #90d5ff;
  filter: blur(0.5px);
}

.ball {
  /* border-radius: 50%; */
  position: absolute;
  cursor: pointer;
  border: 0.5px solid rgb(158, 47, 35);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
}

.ball:hover {
  animation: tilt-shaking 0.25s infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* @keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
} */
